* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optionally add a background color for the body */
}
.progress{
    width:120px;
    height:20px;
    background:
     linear-gradient(#000 0 0) 0/0% no-repeat
     #ddd;
    animation:animate 2s infinite linear;
  }
  @keyframes animate {
      100% {background-size:100%}
  }
